---
layout: base.njk
pagination:
    data: characters
    size: 1
    alias: character
permalink: "characters/{{ character.name | slug }}/"
---

<img alt="{{ character.name }}" src="/images/{{ character.image }}" class="char-img">

<h1>{{ character.name }} is {{ character.gender }} and is {{ character.age }} years old.</h1>