---
layout: base.njk
pagination:
    data: items
    size: 1
    alias: item
permalink: "items/{{ item.name | slug }}/"
---
<a href="../../characters/{{ item.owner | lower | replace(' ', '-') }}">Back</a>


<h1>This is {{ item.name }}</h1>
<img src="/images/{{ item.image }}" alt="{{ item.name }}" class="image-item">
<p>{{ item.content }}</p>